@import url(./components/star.css);


/* Variables */

:root {
    --h-color: #22262d;
    --m-color: #1abc9c;
    --f-color: #3a546d;
}

/* /Variables */

/* Header */

header {
    color: #fff;
    background-color: var(--h-color);
}

header>div {
    height: 5.625rem;
}

/* /Header */

/* Jumbo */

#jumbo,
#about {
    background-color: var(--m-color);
}

#jumbo img {
    width: 14.5rem;
}

/* /Jumbo */

.btn {
    background-color: #1abc9c;
}

/* Info */

.blue-bg {
    color: #fff;
    background-color: #3a546d;
}

/* /Info */

/*  Footer */

footer {
    color: #fff;
    background-color: var(--h-color);
}

/* /Footer */