/* Variables */

:root {
    --h-color: #22262d;
    --m-color: #1abc9c;
    --f-color: #3a546d;
}

/* /Variables */

/* Common */

body {
    margin: 0;
}

/* /Common */

/* Header */

header {
    color: #fff;
    background-color: var(--h-color);
}

header>div {
    height: 5.625rem;
}

/* /Header */

/* Jumbo */

.title {
    text-transform: uppercase;
}

.green-bg {
    color: #fff;
    background-color: var(--m-color);
}

section {
    height: 31rem;
}

/* /Jumbo */