@import url(./components/star.css);
@import url(./components/social.css);


/* Variables */

:root {
    --h-color: #22262d;
    --m-color: #1abc9c;
    --f-color: #3a546d;
}

/* /Variables */

/* Common */

.btn {
    background-color: #1abc9c;
}

/* /Common */

/* Header */

header {
    color: #fff;
    background-color: var(--h-color);
}

header>div {
    height: 5.625rem;
}

/* /Header */

/* Jumbo */

#jumbo,
#about {
    background-color: var(--m-color);
}

#jumbo img {
    width: 14.5rem;
}

/* /Jumbo */

/* Info */

.blue-bg {
    background-color: #3a546d;
}

.blue-bg a {
    text-decoration: none;
    color: #1abc9c;
}

/* /Info */

/*  Footer */

footer {
    color: #fff;
    background-color: var(--h-color);
}

/* /Footer */