/* Components */

#star {
    display: flex;
    justify-content: center;
    align-items: center;
}

#star i {
    font-size: 1.5rem;
    margin: 0 .625rem;
}

.line {
    height: .1875rem;
    width: 5rem;
    border-radius: .125rem;
}

.white {
    background-color: #fff;
}

.black {
    background-color: #000000;
}

/* Components */